@import url("https://api.fontshare.com/v2/css?f[]=archivo@100,200,300,400,500,600,700,800,900&f[]=clash-display@200,300,400,500,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600&display=swap');

@font-face {
    font-family: "Godfather";
    src: url(Fonts/Godfather.ttf)
}

@font-face {
    font-family: "Sematary";
    src: url(Fonts/Sematary.ttf)
}

@font-face {
    font-family: "Goodfellas";
    src: url(Fonts/Goodfellas.otf)
}

@font-face {
    font-family: "Star";
    src: url(Fonts/DeathStar.otf)
}

a
{
    text-decoration: none;
}

.main-text
{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 2.5rem;
}


#error {
    font-family: "Star";
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5em;
    color: black;
    ;
    font-size: 50px;
    line-height: 0rem;
    border: 2px solid black;
}

h1.logo {
    font-family: "Godfather";
    color: white;
    font-weight: 400;
    font-size: 50px;
    white-space: nowrap;

}

li.navFont {
    font-family: "Goodfellas";
    color: white;
    font-weight: 400;
    font-size: 20px;
}


.search {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.child {
    width: 16px;
    height: 16px;
}

#list {
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    row-gap: 10px;
    ;
    justify-content: center;
    padding-top: 5em;
}

#button-poster {
    /* height: 500px;
    width: 360px; */
    width: 100%;
    height: 100%;
}

#search-button {
    margin-top: 5em;
    height: 500px;
    width: 360px;
    cursor: pointer;
    background-position: 100% 100%;
    background-size: contain;
    padding: 0;
    border: transparent;
}

/* Header+Nav styles */

:root {
    --background: rgb(6, 41, 83);
}

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

.nav-toggle {
    display: none;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {

    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: rgb(173, 216, 230);
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;

}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

/* Scroll styles */
.cover {
    position: relative;

}

.left {
    left: 0;
    transition: left 0.5s;
}

.right {
    right: 0;
    transition: right 0.5s;
}

.left,
.right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 50%;
}

.scroll-container {
    position: relative;
    padding: 0px 30px;
    margin-top: 1em;
}

.scroll-images {
    display: flex;
    position: relative;
    /* Set as same height as scroll-child */
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

}

.scroll-button {
    padding: 1em;
    /* height: 500px;
    width: 360px; */
    cursor: pointer;
    background-position: 100% 100%;
    background-size: contain;
    border: transparent;
    padding: 0;

    /* border: 1px solid #f1f1f1; */
}

.scroll-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.scroll-poster {
    width: 360px;
    height: 500px;
}

.scroll-images::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
}

.scroll-images::-webkit-scrollbar-thumb {
    background-color: black;
}

/* Recommendations */
.scroll-recommended {
    display: flex;
    position: relative;
    /* Set as same height as scroll-child */
    height: 250px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    /* background-color: red; */
}

.recommended {
    width: 180px;
    height: 250px;
}

/* FILM DESCRIPTION */
#description {
    display: flex;
    width: 75%;
    align-self: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    /* background: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url("background.jpg"); */
}

/* #bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .95), url("images/background.jpg"));
} */

.content {
    padding: 50px 0;
    gap: 10px;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
}

#film-poster {
    display: flex;
    width: 238px;
    height: 360px;
}


#info {
    color: black;
    align-items: flex-start;
    font-size: 1.25rem;
    padding-left: 1em;
    width: 75%;
}

#classifications {
    color: grey;
}

#group {
    display: flex;
    flex-direction: row;
}

#groupClassifications {
    display: flex;
    flex-direction: row;
    color: grey;
}

#item {
    padding-right: 0.75rem;
}

#cast-subtitle {
    font-weight: 600;
}

.subtitle
{
    font-family: 'Lato', bold, sans-serif;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}